.main {
    width: 670px;
    height: 960px;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background: #FFFFFF;
    border: 1px solid #AACDFF;
    box-shadow: 7px 7px 39px rgba(0, 104, 255, 0.25);
    border-radius: 20px;
    padding: 50px;
    margin: auto;
    box-sizing: border-box;
}

.h1-css {
    display: block;
    width: 466px;
    height: 94px;


    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 47px;
    color: #0068FF;
}


p {
    width: 158px;
    height: 23.65px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #797979;
}
.input-css{
    border: none;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
    width: 466px;
}
.input-css:focus{
    outline: none;
    border-bottom: 1px solid #0068FF;
}

.radio-css {
    width: 20px;
    height: 19.95px;
    background: #EBEBEB;
    border: 1px solid #D2D2D2;
}

.checkbox-css {
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    border-radius: 3px;
}
button {
    box-sizing: border-box;
    width: 470px;
    height: 75px;
    background: #FFFFFF;
    border: 1px solid #0068FF;
    border-radius: 10px;
    font-weight: bold;

}
button:active {
    font-weight: bold;
    color: #0068FF;
}